.button {
    margin: 5px;
    margin-top: 20px;
    border-radius: 60px;
    padding: 25px 51px 26px 51px;
    background: linear-gradient(to right, #13adc7, #6978d1, #945dd6);
    color: white;
    box-shadow: 0px 10px 30px 0px #00b2ff59;
  }
  
  .button:hover {
    border-radius: 60px;
    padding: 25px 51px 26px 51px;
    background: linear-gradient(to right, #31cbe5, #8796ef, #b27bf4);
    color: white;
    box-shadow: 0px 10px 30px 0px #00b2ff80;
  }
  
  .button:active {
    border-radius: 60px;
    padding: 25px 51px 26px 51px;
    background: linear-gradient(to right, #008fa9, #4b5ab3, #6c35ae);
    color: white;
    box-shadow: 0px 10px 30px 0px #935ed659;
  }